@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1440a0;
  --color-secondary: #ffffff;
  --color-accent: #f39c12;
  --color-background: #ffffff;
  --color-text: #000000;
}

body {
  color: #000000;
  background: #ffffff;
}
