@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e3a8a;
  --color-secondary: #ffffff;
  --color-accent: #3b82f6;
  --color-background: #ffffff;
  --color-text: #000000;
}

body {
  color: #000000;
  background: #ffffff;
}
