@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2E3AA1;
  --color-secondary: #FFFFFF;
  --color-accent: #2E3AA1;
  --color-background: #2E3AA1;
  --color-text: #FFFFFF;
}

body {
  color: #FFFFFF;
  background: #2E3AA1;
}
